/* Add your styles here 

html {
  --aura-background-color-light: #ffffff;
  --aura-font-family: Verdana;
  --aura-base-font-size: 12;
  --aura-base-radius: 5;
}

vaadin-button {
  --aura-accent-color: #454545;
}

 
 
vaadin-grid-background {
	background-color: #ffffff;
} */

html {
    color-scheme: light dark;
  --aura-background-color-light: #ffffff;
  --aura-font-family: Verdana;
  --aura-base-font-size: 12;
  --aura-base-radius: 3;
    --aura-app-layout-inset: 0px;
  --aura-contrast-level: 10;
  --aura-base-size: 10;
  
 /* background-image: url("images/background.png"); background-size: contain; background-position: center; background-repeat: no-repeat;*/
}

vaadin-grid::part(selected-row){
	background: #e8dbda;
}

vaadin-grid::part(header-cell){
	background: #e0b5b1;
}

[required] label {
    color: red; /* Or any color like red */
}

/* Specific to input components like TextField
vaadin-text-field[required] [part="label"] {
    color: red;
}*/

html {
  --vaadin-input-field-required-indicator-color: #ff0000; /* Replace #ff0000 with your desired color */
}